# Qdrant Vector Database configurations
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=""

# Redis Memory configs
REDIS_HOST=localhost
REDIS_PORT=6379

# LLM Providers & Embeddings
HUGGINGFACE_API_KEY=your_huggingface_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
